<!DOCTYPE html>
<html lang="en">
<head profile="https://bic2cal.eecs.berkeley.edu/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bic2Cal</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">	
	<link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header" role="banner">		
		<div class="main-nav">
			<div class="container">
				<div class="header-top">
					<div class="pull-right social-icons">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-youtube"></i></a>
					</div>
				</div>     
		        <div class="row">	        		
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="index.html">
		                	<img class="img-responsive small-header" src="images/Bic2Cal_logo.png" alt="logo">
		                </a>                    
		            </div>
		            <div class="collapse navbar-collapse">
		                <ul class="nav navbar-nav navbar-right">                 
		                    <li class="scroll active"><a href="#home">Home</a></li>
		                    <li class="scroll"><a href="#explore">Date</a></li>                         
		                    <li class="scroll"><a href="#download">Download</a></li>
		                    <li class="scroll"><a href="#about">The Challenge</a></li>
		                    <li class="scroll"><a href="#rewards">Rewards</a></li>                      
		                    <li class="no-scroll"><a href="#sponsor">Partners</a></li>
		                    <li class="scroll"><a href="#contact">Contact</a></li>       
		                </ul>
		            </div>
		        </div>
	        </div>
        </div>                    
    </header>
    <!--/#header--> 

    <section id="home">	
		<div id="main-slider" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#main-slider" data-slide-to="0" class="active"></li>
				<li data-target="#main-slider" data-slide-to="1"></li>
				<li data-target="#main-slider" data-slide-to="2"></li>
				<li data-target="#main-slider" data-slide-to="3"></li>
				<li data-target="#main-slider" data-slide-to="4"></li>
				<li data-target="#main-slider" data-slide-to="5"></li>
				<li data-target="#main-slider" data-slide-to="6"></li>
				<li data-target="#main-slider" data-slide-to="7"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img class="img-responsive" src="images/slider/slider0.jpg" alt="slider">						
					<div class="carousel-caption">
						<h2>Download our app for free</h2>
						<h4>Available on App Store and Google Play</h4>
						<a href="#download">iPhone<i class="fa fa-angle-right"></i></a>
						<a href="#download">Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider1.jpg" alt="slider">	
					<div class="carousel-caption">
						<h2>Download our app for free</h2>
						<h4>Available on App Store and Google Play</h4>
						<a href="#download">iPhone<i class="fa fa-angle-right"></i></a>
						<a href="#download">Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider2.jpg" alt="slider">	
					<div class="carousel-caption">
						<h2>Download our app for free</h2>
						<h4>Available on App Store and Google Play</h4>
						<a href="#download">iPhone<i class="fa fa-angle-right"></i></a>
						<a href="#download">Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider3.jpg" alt="slider">	
					<div class="carousel-caption">
						<h2>Download our app for free</h2>
						<h4>Available on App Store and Google Play</h4>
						<a href="#download">iPhone<i class="fa fa-angle-right"></i></a>
						<a href="#download">Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider4.jpg" alt="slider">	
					<div class="carousel-caption">
						<h2>Download our app for free</h2>
						<h4>Available on App Store and Google Play</h4>
						<a href="#download">iPhone<i class="fa fa-angle-right"></i></a>
						<a href="#download">Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider5.jpg" alt="slider">	
					<div class="carousel-caption">
						<h2>Download our app for free</h2>
						<h4>Available on App Store and Google Play</h4>
						<a href="#download">iPhone<i class="fa fa-angle-right"></i></a>
						<a href="#download">Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider6.jpg" alt="slider">	
					<div class="carousel-caption">
						<h2>Download our app for free</h2>
						<h4>Available on App Store and Google Play</h4>
						<a href="#download">iPhone<i class="fa fa-angle-right"></i></a>
						<a href="#download">Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider7.jpg" alt="slider">	
					<div class="carousel-caption">
						<h2>Download our app for free</h2>
						<h4>Available on App Store and Google Play</h4>
						<a href="#download">iPhone<i class="fa fa-angle-right"></i></a>
						<a href="#download">Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
			</div>
		</div>    	
    </section>
	<!--/#home-->

	<section id="explore">
		<div class="container">
			<div class="row">
				<div class="watch">
					<img class="img-responsive" src="images/watch.png" alt="">
				</div>
				<div class="row">
					<h2> October 5, 2016</h2>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-2 col-sm-5">
						<h2>The Bic2Cal challenge starts in</h2>
					</div>				
					<div class="col-sm-7 col-md-6">					
						<ul id="countdown">
							<li>					
								<span class="days time-font">00</span>
								<p>days </p>
							</li>
							<li>
								<span class="hours time-font">00</span>
								<p class="">hours </p>
							</li>
							<li>
								<span class="minutes time-font">00</span>
								<p class="">minutes</p>
							</li>
							<li>
								<span class="seconds time-font">00</span>
								<p class="">seconds</p>
							</li>				
						</ul>
					</div>
				</div>
			</div>
			<div class="cart">
				<a href="#"><i class="fa fa-shopping-cart"></i> <span>Register</span></a>
			</div>
		</div>
	</section><!--/#explore-->

	<section id="download">
		<div class="container">
			<div class="row">

				<div class="about_app col-md-8">					
					<h2 class="heading">About the E-mission App</h2>	
					<p>E-mission's goal is to enable personal and structural shifts to sustainable transportation through a smartphone application that collects mobility data and provides users with insights about their travel patterns.</p>
					<a href="https://e-mission.eecs.berkeley.edu/" class="btn btn-primary">More information<i class="fa fa-angle-right"></i></a>
				
				</div>
			
				<div class="col-md-4">
					<a href='https://play.google.com/store/apps/details?id=edu.berkeley.eecs.emission'><img class="img-responsive download_badge" alt='Get it on Google Play' src="images/download_google.png"/></a>
				
					<a href="https://itunes.apple.com/us/app/emission/id1084198445"><img class="img-responsive download_badge" alt='Download on the App Store' src="images/download_apple.png"></a>
				</div>				
			</div>
		</div>
	</section><!--/#download-->

	<section id="event">
		<div class="container">
			<div id="event-carousel" class="carousel slide" data-interval="false">
				<h2>Features</h2>				
				<a class="event-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="event-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/app_slider/game.png" alt="event-image">
									<h4>Play Habitica</h4>
									<p>when you engage in sustainable transportation, your avatar automatically gets points and rewards, which you can use to buy equipment, feed your pets, and fight monsters with friends!</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/app_slider/game.png" alt="event-image">
									<h4>Play Habitica</h4>
									<p>when you engage in sustainable transportation, your avatar automatically gets points and rewards, which you can use to buy equipment, feed your pets, and fight monsters with friends!</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/app_slider/game.png" alt="event-image">
									<h4>Play Habitica</h4>
									<p>when you engage in sustainable transportation, your avatar automatically gets points and rewards, which you can use to buy equipment, feed your pets, and fight monsters with friends!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</section><!--/#event-->




	

	<section id="about">
		<div class="bike">				
			<img class="img-responsive" src="images/bike.jpeg" alt="bike">
		</div>
		<div class="about-content">					
					<h2>About the Challenge</h2>
					<p>E-mission's goal is to enable personal and structural shifts to sustainable transportation through a smartphone application that collects mobility data and provides users with insights about their travel patterns.</p>
					<a href="https://e-mission.eecs.berkeley.edu/" class="btn btn-primary">More information<i class="fa fa-angle-right"></i></a>
				
		</div>
	</section><!--/#about-->
	
	<section id="rewards">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-9">
					<div id="event-carousel" class="carousel slide" data-interval="false">
						<h2 class="heading">Vote on the rewards!</h2>
					</div>
					<section class="insert" style="float:left; padding-right:50px">
					    <h3>Insert Data</h3>
					    <form action="/set-new-choice" method="post">
					        <div class="input">
					            <label for="title">Reward</label>
					            <input style="color:black" type="text" id="choice" name="choice">
					        </div>
					        <button type="submit">INSERT</button>
					    </form>
					</section>
					<section class="get" style="float:left; padding-right:50px">
					    <h3>Get Data</h3>
					    <a href="/get-poll">LOAD DATA</a>
					    <div>
					        {{# each choices }}
					            <article class="choices">
					                <div>Name: {{ this.text }}</div>
					                <div>Total Votes: {{ this.totalVotes }}</div>
					                <div>Votes: {{ this.votes }}</div>
					            </article>
					        {{/each}}
					    </div>
					</section>
					<section class="update" style="float:left; padding-right:50px">
					    <h3>Update Data</h3>
					    <form action="/vote" method="post">
					        <div class="input">
					            <label for="text">Name</label>
					            <input style="color:black" type="text" id="text" name="text">
					        </div>
					        <div class="input">
					            <label>Vote: </label>
								<input style="color:black" type="radio" id="vote" name="vote">
					        </div>
					        <button type="submit">UPDATE</button>
					    </form>
					</section>
					<section class="delete" style="float:left; padding-right:50px">
					    <h3>Delete Data</h3>
					    <form action="/delet-choice" method="post">
					        <div class="input">
					            <label for="id">Name</label>
					            <input style="color:black" type="text" id="text" name="text">
					        </div>
					        <button type="submit">DELETE</button>
					    </form>
					</section>
				</div>
				<div class="prize">
					<img class="img-responsive" src="images/prize.png" alt="prize">
				</div>
			</div>			
		</div>
	</section><!--/#rewards-->

	<section id="twitter">
		<div id="twitter-feed" class="carousel slide" data-interval="false">
			
			
		</div>		
	</section><!--/#twitter-feed-->
	
	<section id="sponsor">
		<div id="sponsor-carousel" class="carousel slide" data-interval="false">
			<div class="container">
				<div class="row">
					<div class="col-sm-10">
						<h2>Partners</h2>			
						<a class="sponsor-control-left" href="#sponsor-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
						<a class="sponsor-control-right" href="#sponsor-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
						<div class="carousel-inner">
							<!--<div class="item active">
								<ul>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor1.png" alt=""></a></li>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor2.png" alt=""></a></li>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor3.png" alt=""></a></li>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor4.png" alt=""></a></li>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor5.png" alt=""></a></li>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor6.png" alt=""></a></li>
								</ul>
							</div>
							<div class="item">
								<ul>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor6.png" alt=""></a></li>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor5.png" alt=""></a></li>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor4.png" alt=""></a></li>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor3.png" alt=""></a></li>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor2.png" alt=""></a></li>
									<li><a href="#"><img class="img-responsive" src="images/sponsor/sponsor1.png" alt=""></a></li>
								</ul>
							</div>-->
						</div>
					</div>
				</div>				
			</div>
			<div class="light">
				<img class="img-responsive" src="images/light.png" alt="">
			</div>
		</div>
	</section><!--/#sponsor-->

	<section id="contact">
		<div class="row">
			<div class="col-md-8">
				<div id="map">
					<div id="gmap-wrap">
			 			<div id="gmap"> 				
			 			</div>	 			
			    	</div>
				</div><!--/#map-->
			</div>
			<div class="col-md-4">
				<div id="contact-section">
					<h3>Send a message</h3>
			    	<div class="status alert alert-success" style="display: none"></div>
			    	<form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
			            <div class="form-group">
			                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
			            </div>
			            <div class="form-group">
			                <input type="email" name="email" class="form-control" required="required" placeholder="Email ID">
			            </div>
			            <div class="form-group">
			                <textarea name="message" id="message" required="required" class="form-control" rows="4" placeholder="Enter your message"></textarea>
			            </div>                        
			            <div class="form-group">
			                <button type="submit" class="btn btn-primary pull-right">Send</button>
			            </div>
			        </form>	       
			    </div>
			</div>	
		</div>
	</section>
    <!--/#contact-->

    <!--<footer id="footer">
        <div class="container">
            <div class="text-center">
                <p> Copyright  &copy;2014<a target="_blank" href="http://shapebootstrap.net/"> Evento </a>Theme. All Rights Reserved. <br> Designed by <a target="_blank" href="http://shapebootstrap.net/">ShapeBootstrap</a></p>                
            </div>
        </div>
    </footer>
    /#footer-->

    <script type="text/javascript" src="js/jquery.js"></script>
 	<script type="text/javascript" src="js/bootstrap.min.js"></script>
 	<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDW-A3YRQSvH0e0by62LAdSa5alwsWVAbI"></script>
 	<script type="text/javascript" src="js/gmaps.js"></script>
 	<script type="text/javascript" src="js/smoothscroll.js"></script>
 	<script type="text/javascript" src="js/jquery.parallax.js"></script>
 	<script type="text/javascript" src="js/coundown-timer.js"></script>
 	<script type="text/javascript" src="js/jquery.scrollTo.js"></script>
 	<script type="text/javascript" src="js/jquery.nav.js"></script>
 	<script type="text/javascript" src="js/main.js"></script> 
  	<script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js'></script>
	<script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js'></script>
</body>
</html>