<!DOCTYPE html>
<html lang="en" ng-app="indexApp">
<head profile="https://bic2cal.eecs.berkeley.edu/">
<link rel="icon"
      type="image/png"
      href="images/bike_icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bic2Cal</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
    <!--<link rel="shortcut icon" href="images/ico/favicon.ico">/-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84836869-1', 'auto');
      ga('send', 'pageview');

    </script>
</head><!--/head-->

<body ng-controller="IndexCtrl">
	<header id="header" role="banner">
		<div class="main-nav">
			<div class="container">
		        <div class="row">
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="index.html">
		                	<img class="img-responsive" src="images/Bic2Cal_logo.png" alt="logo">
		                </a>

		            </div>
		            <div class="collapse navbar-collapse">
		                <ul class="nav navbar-nav navbar-right">
		                    <li class="scroll active"><a href="#home">Home</a></li>
		                    <li class="scroll"><a href="#leaderboard">Leaderboard</a></li>
		                    <li class="scroll"><a href="#about">Challenge</a></li>
		                    <li class="scroll"><a href="#download">Download</a></li>
		                    <li class="no-scroll"><a href="#twitter">Partners</a></li>
		                    <!--<li class="scroll"><a href="#rewards">Rewards</a></li>-->
		                    <li class="scroll"><a href="#contact">Contact</a></li>
		                </ul>
		            </div>
		            <div class="share-buttons">

						<!-- Facebook -->
						<a href="https://www.facebook.com/sharer.php?u=https://bic2cal.eecs.berkeley.edu/" target="_blank">
							<img class="img-responsive" src="images/share/facebook.png" alt="Facebook" />
						</a>   
						<!-- Twitter -->
						<a href="https://twitter.com/share?url=Bic2Cal&amp;text=Try%20out%20Bic2Cal&amp;hashtags=Bic2Cal" target="_blank">
							<img class="img-responsive" src="images/share/twitter.png" alt="Twitter" />
						</a>
						<!-- Tumblr-->
						<a href="https://www.tumblr.com/share/link?url=https://bic2cal.eecs.berkeley.edu/&amp;title=Bic2Cal" target="_blank">
							<img class="img-responsive" src="images/share/tumblr.png" alt="Tumblr" />
						</a>
						<!-- Google+ -->
						<a href="https://plus.google.com/share?url=https://bic2cal.eecs.berkeley.edu/" target="_blank">
							<img class="img-responsive" src="images/share/google.png" alt="Google" />
						</a>
						<!-- Pinterest -->
						<a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','https://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
							<img class="img-responsive" src="images/share/pinterest.png" alt="Pinterest" />
						</a>
						<!-- LinkedIn -->
						<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://bic2cal.eecs.berkeley.edu/" target="_blank">
							<img class="img-responsive" src="images/share/linkedin.png" alt="LinkedIn" />
						</a>
						<!-- Email -->
						<a href="mailto:?Subject=Bic2Cal&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://bic2cal.eecs.berkeley.edu/">
							<img class="img-responsive" src="images/share/email.png" alt="Email" />
						</a>
					</div>
		        </div>
	        </div>
        </div>
    </header>
    <!--/#header-->

	<section id="home">	
		<div id="main-slider" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#main-slider" data-slide-to="0" class="active"></li>
				<li data-target="#main-slider" data-slide-to="1"></li>
				<li data-target="#main-slider" data-slide-to="2"></li>
				<li data-target="#main-slider" data-slide-to="3"></li>
				<li data-target="#main-slider" data-slide-to="4"></li>
				<li data-target="#main-slider" data-slide-to="5"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img class="img-responsive" src="images/slider/slider0.png" alt="slider">
					<div class="carousel-caption">
						<h2>Help Berkeley become more bikeable</h2>
						<h4>Available on the App Store and on Google Play</h4>
						<a href="https://itunes.apple.com/us/app/emission/id1084198445">iPhone<i class="fa fa-angle-right"></i></a>
						<a href='https://play.google.com/store/apps/details?id=edu.berkeley.eecs.emission'>Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider1.png" alt="slider">
					<div class="carousel-caption">
						<h2>Compete or collaborate!</h2>
						<h4>Available on the App Store and on Google Play</h4>
						<a href="https://itunes.apple.com/us/app/emission/id1084198445">iPhone<i class="fa fa-angle-right"></i></a>
						<a href='https://play.google.com/store/apps/details?id=edu.berkeley.eecs.emission'>Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider2.png" alt="slider">
					<div class="carousel-caption">
						<h2>Fight the Global Warming Monster with your friends</h2>
						<h4>Available on the App Store and on Google Play</h4>
						<a href="https://itunes.apple.com/us/app/emission/id1084198445">iPhone<i class="fa fa-angle-right"></i></a>
						<a href='https://play.google.com/store/apps/details?id=edu.berkeley.eecs.emission'>Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider7.png" alt="slider">
					<div class="carousel-caption">
						<h2>Race to save the planet</h2>
						<h4>Available on the App Store and on Google Play</h4>
						<a href="https://itunes.apple.com/us/app/emission/id1084198445">iPhone<i class="fa fa-angle-right"></i></a>
						<a href='https://play.google.com/store/apps/details?id=edu.berkeley.eecs.emission'>Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider6.png" alt="slider">
					<div class="carousel-caption">
						<h2>Your privacy is protected</h2>
						<h4>Available on the App Store and on Google Play</h4>
						<a href="https://itunes.apple.com/us/app/emission/id1084198445">iPhone<i class="fa fa-angle-right"></i></a>
						<a href='https://play.google.com/store/apps/details?id=edu.berkeley.eecs.emission'>Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
				<div class="item">
					<img class="img-responsive" src="images/slider/slider5.png" alt="slider">
					<div class="carousel-caption">
						<h2>Download our app for free</h2>
						<h4>Available on the App Store and on Google Play</h4>
						<a href="https://itunes.apple.com/us/app/emission/id1084198445">iPhone<i class="fa fa-angle-right"></i></a>
						<a href='https://play.google.com/store/apps/details?id=edu.berkeley.eecs.emission'>Android<i class="fa fa-angle-right"></i></a>
					</div>
				</div>
			</div>
		</div>    	
	</section>
	<!--/#home-->
	<section id="leaderboard">
		<div class="container ng-cloak">
				<img class="img-responsive" src="images/leaderboard-avatars.png" style="width: 200px;display: inline;float: left;">	
				<div>
					<h2 style="display: inline; padding-left: 40px;"> Top 10 Groups </h2>
					<p style="padding-top: 10px;padding-left: 240px;">
						Go to <a href="#groups"><b>Group section</b></a> to learn more about joining a group.
					</p>
				</div>
					<table style="width: 100%;float: left" ng-show="!loading">
						<tr>
							<th style="width: 20%;text-align: center;"><h4><b>Position</b></h4></th>
							<th style="width: 20%;text-align: center;"><h4><b>Party</b></h4></th>
							<th style="width: 20%;text-align: center;"><h4><b>Members</b></h4></th>
							<th style="width: 20%;text-align: center;"><h4><b>Level</b></h4></th>
						</tr>
						<tr ng-repeat="party in partys">
							<td style="width: 20%;text-align: center;"><b>{[{party.rank}]}</b></td>
							<td style="width: 20%;text-align: center;"><b>{[{party.partyObj.data.name}]}</b></td>
							<td style="width: 20%;text-align: center;"><b>{[{party.memberCount}]}</b></td>
							<td style="width: 20%;text-align: center;"><b>{[{party.stats.lvl}]}</b></td>
						</tr>
					</table>
		</div>
	</section>

	<section id="about">
		<div class="container">
			<h2>How it works</h2>
			<div class="row">
				<div class="col-md-3">
					<div class="about-step">
						<a href="#download">
							<img class="img-responsive" src="images/how-it-works/step1.png" alt="Download the app">
							<h4>Install the app</h4>
							<p>Get started by installing the app and help us spread the word.</p>
						</a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="about-step">
						<img class="img-responsive" src="images/how-it-works/step2.png" alt="Download the app">
						<h4>Form a team</h4>
						<p>Playing with friends is a lot more fun! But don't worry, you can still play solo if you prefer.</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="about-step">
						<img class="img-responsive" src="images/how-it-works/step3.png" alt="Download the app">
						<h4>Pick a challenge</h4>
						<p>There are different challenges for different levels and categories to fit a range of needs and preferences. Everyone is welcome!</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="about-step">
						<img class="img-responsive" src="images/how-it-works/step4.png" alt="Download the app">
						<h4>Play!</h4>
						<p>Start riding and have fun! When you bike, Emission will make sure your well deserved points are computed automatically. No data input hassle!</p>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#about-->

	<section id="groups">
		<div class="container">
			<div id="event-carousel" class="carousel slide" data-interval="false">
				<h2>Groups</h2>
				<a class="event-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="event-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/groups_slider/update_complete.png" alt="event-image">
									<h4>Check for updates</h4>
									<p>We're working hard to improve our project - make sre you have the latest version. Check the stores, apply any UI-only updates, and wait until the reload is complete to see the most recent dashboard.</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/groups_slider/invite_example.png" alt="event-image">
									<h4>Check your invites</h4>
									<p>Check to see if you have already received an invitation via email or other social media. If so, just click on the link to join. Note that the link gives permission to join the group, so be careful about resharing.</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/groups_slider/signup_prompt.png" alt="event-image">
									<h4>Sign up and join</h4>
									<p>You need to sign into the game to join a group and participate in a quest. You can choose any username that you like - we autogenerate an email address and password for you using http://dinopass.com.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/groups_slider/create_group.png" alt="event-image">
									<h4>Create a group</h4>
									<p>If you haven't received an invite yet, you can create a group.</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/groups_slider/invite_friends.png" alt="event-image">
									<h4>Invite friends</h4>
									<p>And invite friends by sharing an invite link using a choice of channels.</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/groups_slider/members.png" alt="event-image">
									<h4>Get ready to go on a quest!</h4>
									<p>No matter which route you take, you will end up with a group whose members you can see from the party tab. Now you are ready to start a quest. The goals screen in the app is focused on monitoring status, so we will do this using <a href="https://em-game.eecs.berkeley.edu">the web app</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#groups-->

	<section id="quests">
		<div class="container">
			<div id="event-carousel" class="carousel slide" data-interval="false">
				<h2>Quests</h2>
				<a class="event-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="event-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/groups_slider/website_creds.png" alt="event-image">
									<h4>Get your website creds</h4>
									<p>You login to <a href="https://em-game.eecs.berkeley.edu">the webapp</a> using your autogenerated email and password, visible from the phone app. As always, you can save them to avoid re-entering.</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img height=150 src="images/groups_slider/one_gold.png" alt="event-image">
									<h4>Get some gold</h4>
									<p>When you log in for the first time, you have no points, no gold and a default avatar. Check off the "Join Habitica" task to get 6 points and 1 gold coin. You can also check off other manual tasks like inviting friends to get more gold.</p>
									<img class="img-responsive" src="images/groups_slider/purchase_quest.png" alt="event-image">
									<h4>Purchase the quest</h4>
									<p>Now you need to find a quest scroll. Scrolls are available under Inventory -&gt; Quests. We assume you want to use our carefully crafted bic2cal specific scroll chain. Buy the <i>Pollution's retribution</i> scroll with your gold coin.</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/groups_slider/start_quest.png" alt="event-image">
									<h4>Start the quest!</h4>
									<p>Now, go back to Social -&gt; Party and start a quest with your recently purchased scroll. For more details on how quests work in habitica, you can read <a href="http://habitica.wikia.com/wiki/Quests">their exhaustive documentation.</a> </p>
									<img class="img-responsive" src="images/groups_slider/fight_the_monster.png" alt="event-image">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#groups-->


	<section id="challenges">
		<div class="container">
			<h2>Challenges</h2>
			<div class="col-md-3">
				<div class="about-step">
					<img class="centered" height=150 width=200 src="images/challenges/shankari/shankshallenge3.png" alt="&#x025B;-optimization">
					<h4>&#x025B;-optimization</h4>
					<p>Can you get your travel to be &#x025B;-optimal? Short trips (&lt; 5km) are eminently walkable and bikeable, and around campus, faster than driving. This reward function discourages deviations from this optimum, with a simple linear benefit for longer trips.</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="about-step">
					<img class="centered" height=150 width=200 src="images/challenges/kris/baby_tricycle_check.png" alt="Baby Steps">
					<h4>Baby Steps</h4>
					<p>Not sure where to get started? This challenge lists baby steps to get started, from tips on choosing a bike, to recommendations on increasing visibility. Complete your first solo ride and ace the challenge! </p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="about-step">
					<img class="centered" height=150 width=200 src="images/challenges/sunil/levelup2.png" alt="Level up your commute">
					<h4>Level up your commute</h4>
					<p>Like to be challenged? This challenge starts slow but unlocks new goals as you level up. How far can you go as the going gets tough? See your position on the leaderboard and find out!</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="about-step">
					<img class="centered" height=150 width=200 src="images/challenges/juliana/calendar_one_day.png" alt="Stick to a schedule">
					<h4>Ride far and often</h4>
					<p>Increase biking to campus and Zero Emissions Trips. Pick the days that work for you to walk or bike to campus, and we'll see whether you met your goal. The more days you commit to, the more points you get, but beware, broken promises cost you points.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="download">
		<div class="container">
			<div class="row">

				<div class="about_app col-md-8">
					<h2 class="heading">About the E-mission App</h2>
					<p>E-mission's goal is to enable personal and structural shifts to sustainable transportation through a smartphone application that collects mobility data and provides users with insights about their travel patterns.</p>
					<a href="https://e-mission.eecs.berkeley.edu/" class="btn btn-primary">More information<i class="fa fa-angle-right"></i></a>

				</div>

				<div class="col-md-4">
					<a href='https://play.google.com/store/apps/details?id=edu.berkeley.eecs.emission'><img class="img-responsive download_badge" alt='Get it on Google Play' src="images/download_google.png"/></a>

					<a href="https://itunes.apple.com/us/app/emission/id1084198445"><img class="img-responsive download_badge" alt='Download on the App Store' src="images/download_apple.png"></a>
				</div>
			</div>
		</div>
	</section><!--/#download-->

	<section id="event">
		<div class="container">
			<div id="event-carousel" class="carousel slide" data-interval="false">
				<h2>Features</h2>
				<a class="event-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="event-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
				<div class="carousel-inner">
					<div class="item active">
						<div class="row">
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/app_slider/diary.png" alt="event-image">
									<h4>Track your travel patterns</h4>
									<p>Don't worry about having to manually input data. Your trips will be recorded automatically.</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/app_slider/game.png" alt="event-image">
									<h4>Play Habitica</h4>
									<p>when you engage in sustainable transportation, your avatar automatically gets points and rewards, which you can use to buy equipment, feed your pets, and fight monsters with friends!</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/app_slider/heatmap.png" alt="event-image">
									<h4>Help build better cities</h4>
									<p>With the aggregate data that we collect, city planners can plan and implement improvements faster and cheaper.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/app_slider/dashboard.png" alt="event-image">
									<h4>Dashboard</h4>
									<p>Get insights into your transportation patterns and learn more about how you can improve. The dashboard displays a summary of your data for the past 7 days.</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/app_slider/metrics.png" alt="event-image">
									<h4>Different ways to look at your data</h4>
									<p>More of a graph person? Look at both your individual and the aggregate data using our metrics. You can filter by date, transportation mode, and metric (number of trips, distance, median speed, and trip duration).</p>
								</div>
							</div>
							<div class="col-sm-4 screenshot">
								<div class="single-event">
									<img class="img-responsive" src="images/app_slider/common.png" alt="event-image">
									<h4>Tour Model</h4>
									<p>You can use this tool to plan your commute, or simply to learn more about your travel patterns. In addition to the map, you'll find lots of information about your most common trips and places.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#event-->

	<section id="twitter">
		<div id="twitter-feed" class="carousel slide" data-interval="false">
		</div>
	</section><!--/#twitter-feed-->



	<!-- Wesley's sponsor code
		<section id="sponsor" style="background:white">
		//<div id="sponsor-carousel" class="carousel slide" data-interval="false" style="background: white">
			<div class="container">
				<div class="row">
					<div class="col-sm-10">
						<h2 style="color: black">Partners</h2>			
						<a class="sponsor-control-left" href="#sponsor-carousel" data-slide="prev"><i class="fa fa-angle-left" style="color: black"></i></a>
						<a class="sponsor-control-right" href="#sponsor-carousel" data-slide="next"><i class="fa fa-angle-right" style="color: black"></i></a>
						<div class="carousel-inner" style="height:500px">
							<div class="item active">
								<ul>
									<li><a href="https://sustainability.berkeley.edu/"><img src="images/sponsor/UCB-Sustainability.jpg" alt="University of California, Berkeley - Office of Sustainability and Energy" style="width:90%"></a></li>
									<li><a href="https://eecs.berkeley.edu/"><img src="images/sponsor/Master_Race.png" alt="Electrical Engineering and Computer Sciences, Berkeley"></li>
								</ul>
							</div>
							<div class="item">
								<u2>
									<li><a href="http://sdb.cs.berkeley.edu/sdb/"><img class="img-responsive" src="images/sponsor/SDB_1.png" alt="Software Defined Buildings, UC Berkeley" style="width:50%"></li>
									<li><a href="https://amplab.cs.berkeley.edu/"><img class="img-responsive" src="images/sponsor/AMPLab.png" alt="AMPLab"></li>
								</u2>
							</div>
						</div>
					</div>				
				</div>
				<div class="light">
					<a href="mailto:shankari@eecs.berkeley.edu?Subject=Bic2Cal%20partnership%20inquiry" target="_top"><img class="img-responsive" src="images/sponsor/become-a-partner.png" alt="Become a Partner!"></a>
				</div>
			</div>
		</div>			
	</div>
</div>//

    <div id="jssor_1" style="position: relative; margin: 0 auto; top: 100px; left: 0px; width: 809px; height: 400px; overflow: hidden; visibility: hidden;">
        //Loading Screen
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 809px; height: 150px; overflow: hidden;">
            <div style="display: none;">
                <img style="width:400px;" data-u="image" src="images/sponsor/Master_Race.png" />
            </div>
            <div style="display: none;">
            	<img data-u="image" src="images/sponsor/ucb-sustainability.jpg	" />
            </div>
            <div style="display: none;">
            	<img data-u="image" src="images/sponsor/amplab.png" />
            </div>
            <div style="display: none;">
            	<img data-u="image" src="images/sponsor/sdb_1.png" />
            </div>
        </div>
        //Bullet Navigator
        <div data-u="navigator" class="jssorb03" style="bottom:10px;right:10px;">
            //bullet navigator item prototype
            <div data-u="prototype" style="width:21px;height:21px;">
                <div data-u="numbertemplate"></div>
            </div>
        </div>
        //Arrow Navigator 
        <span data-u="arrowleft" class="jssora03l" style="top:0px;left:8px;width:100px;height:55px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora03r" style="top:0px;right:8px;width:100px;height:55px;" data-autocenter="2"></span>
    </div>

</section>--><!--/#wesley-->
	
	<section id="sponsor">
		<div id="sponsor-carousel" class="carousel slide" data-interval="false">
			<div class="container">
				<div class="row">
					<div class="col-sm-10">
						<!--<h2>Partners</h2>
						<a class="sponsor-control-left" href="#sponsor-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
						<a class="sponsor-control-right" href="#sponsor-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
						-->
						<div class="carousel-inner">
							<div class="item active">
								<ul>
									<li><a href="https://sustainability.berkeley.edu/"><img class="img-responsive" src="images/sponsor/ucb-sustainability.png" alt="University of California, Berkeley - Office of Sustainability and Energy"></a></li>
									<li><a href="https://amplab.cs.berkeley.edu/"><img class="img-responsive" src="images/sponsor/ucb_amplab.png" alt="Algorithms, Machines and People Lab - UC Berkeley"></a></li>
									<li><a href="https://sdb.cs.berkeley.edu/"><img class="img-responsive" src="images/sponsor/sdb.png" alt="Software Defined Buildings - UC Berkeley"></a></li>
									<li><a href="https://asucsteam.weebly.com/i-will-ride.html"><img class="img-responsive" src="images/sponsor/i_will_ride_logo.png" alt="STeam's I Will Ride - UC Berkeley"></a></li>
								</ul>
							</div>
							<!--
							<div class="item">
								<ul>
									<li><a href="http://sdb.cs.berkeley.edu/sdb/"><img class="img-responsive" src="images/sponsor/SDB_1.png" alt="Software Defined Buildings, UC Berkeley" style="width:50%"></li>
									<li><a href="https://amplab.cs.berkeley.edu/"><img class="img-responsive" src="images/sponsor/AMPLab.png" alt="AMPLab"></li>
								</ul>
							</div>
							-->
						</div>
					</div>
				</div>
			</div>
			<div class="light">
				<a href="mailto:shankari@eecs.berkeley.edu?Subject=Bic2Cal%20partnership%20inquiry" target="_top"><img class="img-responsive" src="images/sponsor/become-a-partner.png" alt="Become a Partner!"></a>
			</div>
		</div>			
	</section><!--/#sponsor-->

	<!--
	<section id="rewards" ng-controller="VoteCtrl">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-2">
					<div id="event-carousel" class="carousel slide" data-interval="false">
						<h2 class="heading">Vote on the rewards!</h2>
					</div>
					<button style="margin:auto; display:block" class="btn btn-primary" ng-click="vote()">Vote</button>
				</div>
				<div style="width:60%; margin:auto;margin-bottom:50px;">
					<div ng-repeat="poll in polls">
						<div style="padding-top:5px; padding-left: 8%">{[{poll.text}]}</div>
						<div style="width:100%">
							<div style="float:left; width:8%">
								<label>
									<input type="radio" id="voteRadio" name="voteRadio" ng-click="selected(poll._id)">
								</label>
							</div>
							<div style="float:right; width:92%">
								<div style="background-color: lightblue; width:{[{poll.votes/poll.totalVotes*100}]}%; text-align: center;">
									{[{poll.votes}]}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="z-index:0" class="prize">
					<img class="img-responsive" src="images/prize.png" alt="prize">
				</div>
			</div>
		</div>
	</section>/#rewards-->


	<section id="contact">
		<div class="row">
			<div class="col-md-8">
				<div id="map">
					<div id="gmap-wrap">
			 			<div id="gmap">
			 			</div>
			    	</div>
				</div><!--/#map-->
			</div>
			<div class="col-md-4">
				<div id="contact-section">
					<h2>Contact us</h2>
			    	<p style="font-size: 24px;">For more information, contact: </p>
			    	<a href="mailto:shankari@eecs.berkeley.edu?Subject=Bic2Cal" target="_top">shankari@eecs.berkeley.edu</a>
			    	<p>K. Shankari <br>EECS Department <br>UC Berkeley </p>

			    </div>
			</div>
		</div>
	</section>
    <!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                Challenge images designed by Manonmani and Jayalakshmi
                Raffill, using
                icons made by <a href="https://www.freepik.com/">Freepik</a>(13),
                <a href="https://www.google.com">Google</a>(1),
                <a href="https://fontawesome.io">Dave Gandy</a>(1),
                <a href="https://www.flaticon.com/authors/retinaicons">retinaicons</a>(1)
                from <a href="">www.flaticon.com</a>
                <!--
                <p> Copyright  &copy;2014<a target="_blank" href="http://shapebootstrap.net/"> Evento </a>Theme. All Rights Reserved. <br> Designed by <a target="_blank" href="http://shapebootstrap.net/">ShapeBootstrap</a></p>
                -->
            </div>
        </div>
    </footer>


	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDW-A3YRQSvH0e0by62LAdSa5alwsWVAbI"></script>
	<script type="text/javascript" src="js/gmaps.js"></script>
	<script type="text/javascript" src="js/smoothscroll.js"></script>
	<script type="text/javascript" src="js/jquery.parallax.js"></script>
	<!--script type="text/javascript" src="js/coundown-timer.js"></script-->
	<script type="text/javascript" src="js/jquery.scrollTo.js"></script>
	<script type="text/javascript" src="js/jquery.nav.js"></script>
	<script type="text/javascript" src="js/main.js"></script> 
	<script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js'></script>
	<script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js'></script>
	<script type="text/javascript" src="js/indexCtrl.js"></script>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<script>window.twttr = (function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0],
		t = window.twttr || {};
		if (d.getElementById(id)) return t;
		js = d.createElement(s);
		js.id = id;
		js.src = "https://platform.twitter.com/widgets.js";
		fjs.parentNode.insertBefore(js, fjs);

		t._e = [];
		t.ready = function(f) {
			t._e.push(f);
		};

		return t;
	}(document, "script", "twitter-wjs"));</script>


</body>
</html>
